@model Post
@{ 

}

<div>
    <h2>@Model.Title</h2>

    @if(!string.IsNullOrEmpty(Model.Image))
    {
        var imagePath = $"/Image/{Model.Image}";
        <img src="@imagePath" width="500"/>
    }

    <p>@Model.Body</p>
</div>